ipython
myst_parser
nbsphinx
sphinx-gallery
sphinx_copybutton
sphinxcontrib-bibtex==1.0.0
nbsphinx-link
sphinxcontrib-svg2pdfconverter
sphinx_design
sphinx-inline-tabs
furo

pyvista
pandas
tetgen
matplotlib
plotly
ipython
k3d
dewloosh.mpl
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability