ipython
myst_parser
nbsphinx
sphinx-gallery
sphinx_copybutton
sphinxcontrib-bibtex
nbsphinx-link
sphinxcontrib-svg2pdfconverter
sphinx_design
sphinx-inline-tabs
pydata-sphinx-theme

pyvista
pandas
tetgen
matplotlib
plotly
k3d
dewloosh.mpl
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability