myst_parser
nbsphinx
sphinx-gallery
sphinx_copybutton
sphinxcontrib-bibtex==1.0.0
nbsphinx-link
sphinxcontrib-svg2pdfconverter
furo
sphinx-rtd-theme
memory_profiler
pyvista
pandas
tetgen
matplotlib
plotly
ipython
polymesh